<% include ../partials/header %>
<% include ../partials/login %>
      <div class='card'>
        <img src=<%=pet.photo%>></img>
        <h2><%=pet.name%></h2>
        <p><%=pet.status%></p>
        <p><%=pet.age%></p>
        <p><%=pet.size%></p>
        <p><%=pet.breed%></p>
        <p><%=pet.sex%></p>
        <p><%=pet.description%></p>
        <%for(let x = 0; x < join.length; x++ ){%>
          <%if((join[x].pets_id === pet.id) && (join[x].handlers_id)){%>
            <p>Foster Contact: <%=join[x].first_name%></p>
            <p>Foster Email: <%=join[x].email%></p>
          <%}%>
        <%}%>
        <a>Edit</a>
      </div>
<% include ../partials/footer %>
