<% include ../partials/header %>
<% include ../partials/login %>
      <div class='card'>
        <h2><%=pet.name%></h2>
        <img style='height:100px' src=<%=pet.photo%>></img>
        <p><%=pet.status%></p>
        <p><%=pet.age%></p>
        <p><%=pet.size%></p>
        <p><%=pet.breed%></p>
        <p><%=pet.sex%></p>
      </div>

  </body>
</html>
