<% include ../partials/header %>
<% include ../partials/login %>
      <div class='card'>
        <img src=<%=pet.photo%>></img>
        <h2><%=pet.name%></h2>
        <p><%=pet.status%></p>
        <p><%=pet.age%></p>
        <p><%=pet.size%></p>
        <p><%=pet.breed%></p>
        <p><%=pet.sex%></p>
        <p><%=pet.description%></p>
        <a>Edit</a>
      </div>
<% include ../partials/footer %>
