<% include ../partials/header %>
<% include ../partials/login %>
    <% for(pet in pets){%>
      <div class='card'>
        <a href='/pets/<%=pets[pet].id%>'><h3><%=pets[pet].name%></h3></a>
        <img style='height:100px' src=<%=pets[pet].photo%>></img>
        <p><%=pets[pet].status%></p>
        <p><%=pets[pet].age%></p>
        <p><%=pets[pet].size%></p>
        <p><%=pets[pet].breed%></p>
        <p><%=pets[pet].sex%></p>
        <a>Edit</a>
        <a>Delete</a>
      </div>
    <%}%>
    <a class='waves-effect waves-light btn' href="#modal_addPet">Add</a>
    <div id='modal_addPet' class='modal'>
        <div class="modal-content">
            <form id="pet_add" action="/pet_add" method="POST">
              <label for="age">Age:</label>
              <input id="age" type="text" name="age" value="">
              <label for="size">Size:</label>
              <input id="size" type="text" name="size" value="">
              <label for="breed">Breed:</label>
              <input id="breed" type="breed" name="breed" value="">
              <label for="name">Name:</label>
              <input id="name" type="text" name="name" value="">
              <label for="sex">Sex:</label>
              <input id="sex" type="text" name="sex" value="">
              <label for="description">Description:</label>
              <input id="description" type="text" name="description" value="">
              <label for="petID">petID:</label>
              <input id="petID" type="number" name="petID" value="">
              <label for="type">Type:</label>
              <input id="type" type="text" name="type" value="">
              <label for="photo">Photo:</label>
              <input id="photo" type="text" name="photo" value="">
            </form>
          </div>
        <div class="modal-footer">
          <button type='submit' href="/pets" form="pet_add" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</button>
        </div>
    </div>
  </body>
</html>
